body {
  background-color: #275358;
  color: white;
}

a {
  color: black;
}

h1 {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 40px;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

.caption {
  margin-top: 5px;
  margin-bottom: 30px;
}

.footer {
  font-size: 12px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}